{% extends 'layout.html' %}
{% block content %}

	<h2> About Me </h2>
	<p> I am Akash, You can CallMe AkashJeez, Working as Application Cloud Engineer in Honeywell Technology Solutions in Bangalore, India. I Love Coding and Racing.. </p>
	<h5> <b> Feel Free to Reach Out to Me <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Via </button> </b> </h5>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<ul>
				<li> Email : <a href = 'mailto:akashit63@gmail.com'> akashit63@gmail.com </a> </li>
				<li> BlogSpot : <a href = 'http://akashjeez.blogspot.com/'> Akash Jeez </a> </li>
				<li> Instagram : <a href = 'https://www.instagram.com/akash_jeez/'> Akash Jeez </a> </li>
				<li> Twitter : <a href = 'https://twitter.com/gangsta_jeez63'> @Gangsta_Jeez63 </a> </li>
				<li> GitHub : <a href = 'https://github.com/akashjeez/'> Akash Jeez </a> </li>
				<li> Tumblr : <a href = 'https://akashjeez.tumblr.com/'> Akash Jeez </a> </li>
				<li> Google+ : <a href = 'https://plus.google.com/+AkashPonnurangam'> Akash Jeez </a> </li>
			</ul>
		</div>
	</div>

{% endblock %}