{% extends 'layout.html' %}
{% block content %}
	<h2> Applications </h2>
	<ul> <b>
		<li> <a href="{{url_for('currency_exchange') }}"  target="_blank"> Currency Exchange Rates </a> </li>
		<li> <a href="{{url_for('cryptocurrency_exchanges') }}" target="_blank"> CryptoCurrency Exchange Info </a> </li>
		<li> <a href="{{url_for('stock_ticker') }}" target="_blank"> Stock Exchange </a> </li>
		<li> <a href="{{url_for('text_to_speech') }}" target="_blank"> Text to Speech Conversion </a> <span class="badge badge-danger"> Work In Progress </span> </li>
		<li> <a href="{{url_for('google_search') }}" target="_blank"> Google Search </a> </li>
		<li> <a href="{{url_for('youtube_video') }}" target="_blank"> Watch Youtube Videos </a> </li>
		<li> <a href="{{url_for('song_lyrics') }}" target="_blank"> Get Song Lyrics </a> </li>
		<li> <a href="{{url_for('oxford_dictionary') }}" target="_blank"> Oxford Dictionary </a> </li>
		<li> <a href="{{url_for('age_calculator') }}" target="_blank"> Age Calculator </a> </li>
		<li> <a href="{{url_for('get_news') }}" target="_blank"> Google - Get Live News Info </a> </li>
		<li> <a href="{{url_for('generate_qrcode') }}" target="_blank"> Generate QR Code </a> </li>
		<li> <a href="{{url_for('weather_report') }}" target="_blank"> Get Weather Report </a> </li>
		<li> <a href="{{url_for('flames_game') }}" target="_blank"> Play Flames Game </a> </li>
		<li> <a href="{{url_for('language_translate') }}" target="_blank"> Language Translator </a> </li>
		<li> <a href="{{url_for('random_quotes') }}" target="_blank"> Search Quotes </a> </li>
		<li> <a href="{{url_for('wikipedia_search') }}" target="_blank"> WikiPedia Search </a> </li>
		<li> <a href="{{url_for('recharge_code_generator') }}" target="_blank"> Mobile Recharge Code Generator </a> </li>
		<li> <a href="{{url_for('ip_address_search') }}" target="_blank"> IP Address Search </a> </li>
		<li> <a href="{{url_for('quiz_game') }}" target="_blank"> Play Quiz Game </a> </li>
		<li> <a href="{{url_for('cryptography_security') }}" target="_blank"> CryptoGraphy Security </a> </li>
		<li> <a href="{{url_for('ninga_gold_game') }}" target="_blank"> Ninja Gold Game </a> </li>
		<li> <a href="{{url_for('play_music') }}" target="_blank"> Play Music </a> </li>
		<li> <a href="{{url_for('common_passwords') }}" target="_blank"> Most Common Passwords </a> </li>
		<li> <a href="{{url_for('todo_list') }}" target="_blank"> To-Do List </a> </li>
		<li> <a href="{{url_for('tictactoe_game') }}" target="_blank"> Tic-Tac-Toe Game </a> </li>
		<li> <a href="{{url_for('towerofhanoi_game') }}" target="_blank"> Tower-of-hanoi Game </a> </li>
		<li> <a href="{{url_for('game_2048') }}" target="_blank"> 2048 Game </a> </li>
		<li> <a href="{{url_for('love_calculator') }}" target="_blank"> Love Calculator </a> </li>
		<li> <a href="{{url_for('snake_game') }}" target="_blank"> Snake Game </a> </li>
		<li> <a href="{{url_for('zodiac_sign') }}" target="_blank"> Zodaic Sign </a></li>
		<li> <a href="{{url_for('emoji_symbols') }}" target="_blank"> Emoji Symbols </a> </li>
		<li> <a href="{{url_for('rock_paper_scissor_game') }}" target="_blank"> Rock Paper Scissor Game </a>
		<li> <a href="{{url_for('web_camera') }}" target="_blank"> Live Web Camera </a>
		<li> <a href="{{url_for('python_online_compiler') }}" target="_blank"> Python Online Compiler </a> <span class="badge badge-secondary"> New </span> </li>
		
	</ul>
{% endblock %}
