{% extends 'layout.html' %}
{% block content %}
	<h3> Top 25 Most Common passwords By Year </h3>

	<div class='container'>
		<div class="row">
			<div class="col">
      			<table class="table table-hover" border=1>
					<thead class="thead-dark">
						<tr>
							<th scope="col"> Rank </th>
							<th scope="col"> 2011 </th>
							<th scope="col"> 2012 </th>
							<th scope="col"> 2013 </th>
							<th scope="col"> 2014 </th>
							<th scope="col"> 2015 </th>
							<th scope="col"> 2016 </th>
							<th scope="col"> 2017 </th>
							<th scope="col"> 2018 </th>
						</tr>
					</thead>
					<tbody>
						{% for data in raw_data %}
							<tr>
								<td> {{ data[0] }} </td>
								<td> {{ data[1] }} </td>
								<td> {{ data[2] }} </td>
								<td> {{ data[3] }} </td>
								<td> {{ data[4] }} </td>
								<td> {{ data[5] }} </td>
								<td> {{ data[6] }} </td>
								<td> {{ data[7] }} </td>
								<td> {{ data[8] }} </td>
							</tr>
						{% endfor %}
    				</tbody>
    			</table>
    		</div>
		</div>
	</div>

{% endblock %}