{% extends 'layout.html' %}
{% block content %}
	<h2> CryptoGraphy Security </h2>
	<div class="content-section">
		<form method="POST" action="{{ url_for('cryptography_security') }}">
			{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <h2> Search Results: </h2>

    {% for data in raw_data %}
        <article class="media content-section">
            <div class="media-body">
                <p> {{ data }} </p>
            </div>
        </article>
    {% endfor %}

{% endblock %}