{% extends 'layout.html' %}
{% block content %}
	<h2> Oxford Dictionary </h2>
	<div class="content-section">
		<form method="POST" action="{{ url_for('oxford_dictionary') }}">
			{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.word.label(class="form-control-label") }}
                    {% if form.word.errors %}
                        {{ form.word(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.word.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.word(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if synonyms and antonyms %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 style="color:blue;"> Meaning: </h2>
                    {% for word in synonyms %}
                        <h3> {{ word }} </h3>
                    {% endfor %}
                </div>
                <div class="col">
                    <h2 style="color:red;"> Opposite: </h2>
                    {% for word in antonyms %}
                        <h3> {{ word }} </h3>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    {% else %}
        <h2> Type word to get meaning! </h2>
    {% endif %}



{% endblock %}