{% extends 'layout.html' %}
{% block content %}
	<h2> Python Online Compiler - Interactive Shell </h2>
    <p> Python is a programming language that lets you work quickly and integrate systems more effectively. </p>
    <iframe src="{{ raw_link }}" width="700" height="300" frameborder="0"> </iframe> <br/>

    <h2> Python Tutorials </h2>
    <ul> <b>
        <li> <a href="https://www.w3schools.com/python/" target="_blank"> W3Schools </a> </li>
        <li> <a href="https://pythonprogramming.net/" target="_blank"> PythonProgramming.net </a> </li>
        <li> <a href="https://www.programiz.com/python-programming" target="_blank"> ProgramiZ </a> <span class="badge badge-secondary"> Easy </span> </li>
        <li> <a href="https://www.tutorialspoint.com/python3/" target="_blank"> Tutorials Point </a> </li>
        <li> <a href="https://www.datacamp.com/" target="_blank"> DataCamp </a> </li>
        <li> <a href="https://awesome-python.com/" target="_blank"> Awesome-Python </a> </li>
        <li> <a href="https://realpython.com/" target="_blank"> Real Python </a> </li>
        <li> <a href="https://guide.freecodecamp.org/python/" target="_blank"> Free-Code-Camp </a> </li>
        <li> <a href="https://www.sololearn.com/Course/Python/" target="_blank"> SoloLearn </a> </li>
        <li> <a href="https://web.programminghub.io/" target="_blank"> Programming Hub </a> </li>
        <li> <a href="https://youtu.be/_uQrJ0TkZlc" target="_blank"> Youtube - Python Absolute for Beginners </a> </li>
    </ul>

{% endblock %}