{% extends 'layout.html' %}
{% block content %}

	<h2> Live Web Camera </h2>

	<div id="my_camera"> </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"> </script>
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>
	<br/>
	<!-- A button for taking snaps -->
	<input class="btn btn-outline-info" type=button value="Take Snapshot" onClick="take_snapshot()">
	
	<div id="results" style="color:red;"> Your captured image will appear here... </div>
	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				document.getElementById('results').innerHTML = '<h3> Here is your image: </h3> <img src="'+data_uri+'"/>';
			} );
		}
	</script>

{% endblock %}