{% extends 'layout.html' %}
{% block content %}
	<h2> Watch YouTube Video </h2>
	<div class="content-section">
		<form method="POST" action="{{ url_for('youtube_video') }}">
			{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.link.label(class="form-control-label") }}
                    {% if form.link.errors %}
                        {{ form.link(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.link.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.link(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if raw_link %}
        <iframe width="560" height="315" src="{{ raw_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
    {% else %}
        <h2> Type Youtube Video URL to Watch Video </h2>
    {% endif %}

{% endblock %}