bs4
emoji
Flask
Flask-BasicAuth
Flask-Bcrypt
Flask-Login
Flask-QRcode
Flask-SQLAlchemy
Flask-WTF
forex-python
google
gsearch
gunicorn
imageio
oxforddictionaries
pafy
pandas
pandas-datareader
Pillow
PyLyrics
python-dateutil
python-dotenv
pyttsx3
pytz
qrcode
requests
simplejson
SQLAlchemy
translate
virtualenv
weather-api
wikipedia
wikiquote
WTForms
youtube-dl